<h1>soy un administrador<i class="fa-solid fa-check"></i></h1>

<div class="container">
    <div class="row">
<div class="col-4 mx-auto my-3 p-3 border">
    <!--registro de nuevo supervisor--->
    <h2>Supervisor</h2>
    <form class="">
        <div class="mb-3">
            <input type="text" class="form-control" id="nombre_supervior" name="nombre_supervior" placeholder="Nombre" >
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="apellido_supervior" name="apellido_supervior" placeholder="Apellido">
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" id="correo_supervior" name="correo_supervior" placeholder="Correo electrónico" >
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="contraseña_supervior" name="contraseña_supervior"  placeholder="Contraseña">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="contraseña2_supervior" name="contraseña2_supervior" placeholder="Confirmar contraseña">
        </div>        
        <div class="mb-3">
            <button type="submit" class="btn btn-primary my-2">Registrar</button>
        </div>
    </form>
</div>

<div class="col-4 mx-auto my-3 p-3 border">
    <!--registro de nuevo Docente--->
    <h2>Docente</h2>
    <form class="">
        <div class="mb-3">
            <input type="text" class="form-control" id="nombre_docente" name="nombre_docente" placeholder="Nombre" >
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="apellido_docente" name="apellido_docente" placeholder="Apellido">
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" id="correo_docente" name="correo_docente" placeholder="Correo electrónico" >
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="contraseña_docente" name="contraseña_docente"  placeholder="Contraseña">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="contraseña2_docente" name="contraseña2_docente" placeholder="Confirmar contraseña">
        </div>        
        <div class="mb-3">
            <button type="submit" class="btn btn-primary my-2">Registrar</button>
        </div>
    </form>
</div>

<div class="col-4 mx-auto my-3 p-3 border">
    <!--registro de nuevo Docente--->
    <h2>Alumno</h2>
    <form class="">
        <div class="mb-3">
            <input type="text" class="form-control" id="nombre_alumno" name="nombre_alumno" placeholder="Nombre" >
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="apellido_alumno" name="apellido_alumno" placeholder="Apellido">
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" id="correo_alumno" name="correo_alumno" placeholder="Correo electrónico" >
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="contraseña_alumno" name="contraseña_alumno"  placeholder="Contraseña">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="contraseña2_alumno" name="contraseña2_alumno" placeholder="Confirmar contraseña">
        </div>        
        <div class="mb-3">
            <button type="submit" class="btn btn-primary my-2">Registrar</button>
        </div>
    </form>
</div>




</div>


<a class="btn btn-primary" href="/logout">Salir</a>
</div>

